@media screen and (max-width:1110px ) {
	.l-grid.l-grid-4col.l-grid-4col-guttered-right .l-grid-col {
		padding-right: 1.4%;
	}
}

@media screen and (max-width:1024px ) {
	.banner-bgimg .banner-bgimg-ribbon {
		width: 160px;
	}
	.banner-bgimg .banner-bgimg-ribbon:after {
		content: " ";
		border-left: 80px solid #e174b2;
		border-right: 80px solid #e174b2;
		border-bottom: 40px solid transparent;
	}
	.banner-bgimg .banner-bgimg-ribbon p{
		font-size: 20px;
		line-height: normal;
		margin-bottom: 8px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price {
		font-size: 15px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price .banner-bgimg-ribbon-price-digit {
		font-size: 60px;
		line-height: 50px;
		vertical-align: sub;
	}

	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
		font-size: 70px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro p {
		font-size: 30px;
	}
	.section-intro p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
		
	}
	.text-card.text-card-gray {
		font-size: 20px;
		padding: 36px 0 36px;
	}
	.text-card.text-card-blue {
		font-size: 20px;
		padding: 36px 0 36px;
	}
	.section-effective h1 {
		font-size: 40px;
		margin: 30px 0;
	}
	.section-effective p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seceffective p {
		font-size: 40px;
		line-height: 30px;
	}
	.section-effective h2 {
		font-size: 35px;
		margin: 35px 0;
	}
	.text-card.text-card-pink {
		padding: 36px 0 36px;
	}
	.text-card.text-card-pink.text-card-pink-seceffective p {
		font-size: 30px;
	}
	.service-get .service-get-details p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.service-get .service-get-details ul {
		max-width: 700px;
		margin: 0 auto;
	}
	.service-get .service-get-details ul li {
		font-size: 25px;
		line-height: 31px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h1{
		font-size: 35px;
		line-height: 60px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h2{
		font-size: 30px;
		line-height: 60px;
	}
	.section-toeic p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed h1 {
		font-size: 40px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed p {
		font-size: 25px;
		line-height: 35px;
	}
	.section-failsucceed p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.list-agent-experience, .list-drawback {
		margin-bottom: 30px;
	}
	.list-agent-experience li, .list-drawback li {
		font-size: 25px;
		line-height: 33px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet h1 {
		font-size: 60px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet p {
		font-size: 25px;
		line-height: 38px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum h1 {
		font-size: 60px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p {
		font-size: 25px;
		line-height: 38px;
		margin-bottom: 0px;
	}
	.timetable {
		max-width: 700px;
		margin: 0 auto 30px;
	}
	.timetable .timetable-list li {
		font-size: 25px;
		line-height: 33px;
	}
	.timetable .timetable-list .timetable-list-total {
		font-size: 30px;
		line-height: 33px;
	}
	
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial p {
		font-size: 25px;
		line-height: 38px;
		margin-bottom: 0px;
	}
	.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience h1 {
		font-size: 35px;
		margin: 35px 0;
	}
	.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience p {
		line-height: normal;
		margin-bottom: 30px;
	}
	/*
	.section-experience h1 {
		font-size: 35px;
		margin: 35px 0;
	}
	.section-experience p {
		line-height: normal;
		margin-bottom: 30px;
	}
	*/
	.section-fee h1 {
		font-size: 40px;
		margin: 35px 0;
	}
	.section-fee p {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.feetable .feetable-list li {
		font-size: 25px;
		line-height: 30px;
	}
	.feetable .feetable-dllist {
		font-size: 25px;
		line-height: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1 {
		font-size: 60px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 25px;
		line-height: 38px;
		margin-bottom: 0px;
	}	
	.section-contact h1 {
		font-size: 60px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.section-contact .section-contact-popup {
		font-size: 30px;
		padding: 20px 40px;
	}
}

@media screen and (max-width:900px ) {
	.banner-bgimg .banner-bgimg-ribbon {
		width: 100px;
		padding: 0px;
	}
	.banner-bgimg .banner-bgimg-ribbon:after {
		content: " ";
		border-left: 50px solid #e174b2;
		border-right: 50px solid #e174b2;
		border-bottom: 20px solid transparent;
		bottom: -20px;
	}
	.banner-bgimg .banner-bgimg-ribbon p{
		font-size: 20px;
		line-height: 35px;
		margin-bottom: 8px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price {
		font-size: 15px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price .banner-bgimg-ribbon-price-digit {
		font-size: 50px;
		line-height: 40px;
		vertical-align: sub;
	}

}

@media screen and (max-width:800px ) { 
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
		font-size: 50px;
		line-height: normal;
	}
	.text-card.text-card-pink {
		padding: 36px 0 36px;
	}
	.text-card.text-card-pink.text-card-pink-seceffective p {
		font-size: 20px;
	}
	
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h1 {
		font-size: 25px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h2 {
		font-size: 25px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet h1 {
		font-size: 40px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet p {
		font-size: 25px;
		line-height: 35px
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum h1 {
		font-size: 40px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p {
		font-size: 25px;
		line-height: 35px
	}
	.section-curriculum h2 {
		font-size: 25px;
		line-height: normal;
	}
	.section-curriculum h3 {
		font-size: 25px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1 {
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial p {
		font-size: 25px;
		line-height: 35px
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1 {
		font-size: 40px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 25px;
		line-height: 35px;
	}
	.section-contact h1 {
		font-size: 40px;
	}
	.section-curriculum dl {
		width: 100%;
	}
	.timetable { 
		width: 100%;
	}

}

@media screen and (max-width:700px ) { 
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 20px;
		line-height: 35px;
	}

}

@media screen and (max-width:600px ) {
	.banner-bgimg {
		overflow: hidden;
	}
	.banner-bgimg > img {
		width: 600px;
		position: relative;
		left: 50%;
		transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		transform: translate(-50%,0);
	}
	.banner-bgimg .banner-bgimg-ribbon {
		left: 15px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
		font-size: 50px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro p {
		font-size: 25px;
	}
	.section-intro p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.text-card.text-card-gray {
		font-size: 14px;
		padding: 36px 0 36px;
	}
	.text-card.text-card-blue {
		font-size: 14px;
		padding: 36px 0 36px;
	}
	.card-list.card-list-add {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.section-effective p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seceffective p {
		font-size: 30px;
		line-height: 30px;
	}
	.section-effective h2 {
		font-size: 25px;
		margin: 35px 0;
	}
	.text-card.text-card-pink {
		padding: 36px 0 36px;
	}
	.text-card.text-card-pink.text-card-pink-seceffective p {
		font-size: 16px;
	}
	.service-get .service-get-details p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.service-get .service-get-details ul li {
		font-size: 18px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h1 {
		font-size: 20px;
		line-height: 20px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h2 {
		font-size: 20px;
		line-height: 20px;
	}
	.section-toeic p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed h1 {
		font-size: 25px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed p {
		font-size: 18px;
		line-height: 35px;
	}
	.section-failsucceed p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 20px;
	}
	.list-agent-experience {
		width: 100%;
		margin-bottom: 20px;
	}
	.list-drawback {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 15px;
	}
	.list-agent-experience li, .list-drawback li {
		font-size: 18px;
		line-height: normal;
	}
	.list-disatisfaction li {
		font-size: 18px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet h1 {
		font-size: 30px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet p {
		font-size: 18px;
		line-height: 35px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum h1 {
		font-size: 30px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p {
		font-size: 18px;
		line-height: 35px;
	}
	.timetable .timetable-list li {
		font-size: 18px;
		line-height: normal;
	}
	.timetable .timetable-list .timetable-list-total {
		font-size: 25px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial p {
		font-size: 18px;
		line-height: 35px;
	}
	.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience h1 {
		font-size: 25px;
		margin: 35px 0;
	}
	.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience h2 {
		font-size: 20px;
	}
	.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience p {
		line-height: normal;
		margin-bottom: 30px;
	}
	/*
	.section-experience h1 {
		font-size: 25px;
		margin: 35px 0;
	}
	.section-experience h2 {
		font-size: 20px;
	}
	.section-experience p {
		line-height: normal;
		margin-bottom: 30px;
	}
	*/
	.section-fee h1 {
		font-size: 25px;
		margin: 35px 0;
	}
	.section-fee p {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 20px;
	}
	.feetable .feetable-list li {
		font-size: 18px;
		line-height: normal;
	}
	.feetable .feetable-dllist {
		font-size: 18px;
		line-height: normal;
	}
	.feetable .feetable-dllist dd {
		margin-left: 150px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1 {
		font-size: 30px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 18px;
		line-height: 25px;
	}
	.section-contact h1 {
		font-size: 30px;
	}
	.section-contact .section-contact-popup {
		font-size: 25px;
		padding: 20px 40px;
	}
	
}

@media screen and (max-width:500px ) {
	.heading-msg {
		font-size: 18px;
		margin: 20px 0;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
		font-size: 25px;
		line-height: normal;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro p {
		font-size: 20px;
	}
	.banner-bgimg .banner-bgimg-ribbon p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 8px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price {
		font-size: 15px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price .banner-bgimg-ribbon-price-digit {
		font-size: 30px;
		line-height: 30px;
		vertical-align: sub;
	}
	.section-atraining h1 {
		font-size: 25px;
		font-family: "KozGoPr6N-r";
		color: white;
		margin-top: 36px;
		margin-bottom: 36px;
	}
	.text-card.text-card-gray {
		font-size: 12px;
		padding: 30px 0 30px;
	}
	.text-card.text-card-blue {
		font-size: 12px;
		padding: 30px 0 30px;
	}
	.ico.ico-plus.ico-plus-white svg {
		width: 35px;
		height: 35px;
	}
	.section-effective h1 {
		font-size: 25px;
		margin: 20px 0;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seceffective p {
		font-size: 20px;
		line-height: 20px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed h1 {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed p {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seceffective p {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h1 {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h2 {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet h1 {
		font-size: 30px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet p {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum h1 {
		font-size: 30px;
		line-height: normal;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial p {
		font-size: 14px;
		line-height: 18px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 14px;
		line-height: 18px;
	}
	
	.ico.ico-plus.ico-plus-pink svg {
		width: 35px;
		height: 35px;
	}
	.text-card.text-card-pink {
		padding: 30px 0 30px;
	}
	.text-card.text-card-pink.text-card-pink-seceffective p {
		font-size: 12px;
	}
	.service-get .service-get-features {
		margin-bottom: 40px;
	}
	.service-get .service-get-details {
		padding: 15px;
	}
	.service-get .service-get-details:before {

		top: -29px;
		border-left: 38px solid transparent;
		border-right: 38px solid transparent;
		border-bottom: 30px solid #ecadd0;
	}
	.list-agent-experience li, .list-drawback li {
		font-size: 18px;
		line-height: 25px;
	}
	.section-curriculum h2 {
		font-size: 25px;
		line-height: 35px;
		margin-top: 14px;
		margin-bottom: 30px;
	}
	.section-curriculum dl dd {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 20px;
	}
	.section-curriculum h3 {
		font-size: 25px;
		line-height: 35px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	
	
	
}

@media screen and (max-width:400px ) {
	.banner-bgimg .banner-bgimg-ribbon {
		width: 70px;
		padding: 0px;
	}
	.banner-bgimg .banner-bgimg-ribbon:after {
		bottom: -40px;
		border-left: 35px solid #e174b2;
		border-right: 35px solid #e174b2;
		border-bottom: 20px solid transparent;
		bottom: -20px;
	}
	.banner-bgimg .banner-bgimg-ribbon p{
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 5px
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price {
		font-size: 14px;
	}
	.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price .banner-bgimg-ribbon-price-digit {
		font-size: 30px;
		line-height: 30px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
		margin-top: 50px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro p {
		font-size: 20px;
		line-height: 20px;
	}
	.l-grid.l-grid-2col .l-grid-col {
		width: 100%;
		margin-bottom: 20px;
	}
	.contact-btn-popup {
		font-size: 30px;
	}
	.popup .popup-close {
		padding: 10px;
	}
	.popup .popup-close .popup-close-link {
		font-size: 14px;
	}
	.form-contact dl dt label {
		font-size: 14px;
	}
	.form-contact dl dd input[type=text], .form-contact dl dd textarea, .form-contact dl dd input[type=email] {
		font-size: 14px;
		line-height: 12px;
	}
	.form-contact dl dd input[type=text], .form-contact dl dd input[type=email] {
		height: 25px;
		width: 100%;
	}
	.form-contact dl dd textarea {
		height: 100px;
	}
	.form-contact dl dd .form-contact-submit-btn {
		font-size: 16px;
	}
	.form-contact input[type="radio"] + label {
		font-size: 14px;
	}
}

@media screen and (max-width:360px ) {
	.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 0px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p {
		font-size: 11px;
		line-height: 18px;
	}
	
	.text-card.text-card-blue {
		font-size: 9px;
		padding: 30px 0 30px;
	}
	.text-card.text-card-pink.text-card-pink-seceffective p {
		font-size: 9px;
	}
	.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p {
		font-size: 12px;
		line-height: 18px;
	}
	.section-contact .section-contact-popup {
		font-size: 25px;
		padding: 20px;
	}
}

