/* settings ---------------------------------------------------------------------------- */

@font-face {
	font-family: 'KozGoPr6N-r';
	src: url('../fonts/KozGoPr6N-Regular.otf');
}
@font-face {
	font-family: 'KozGoPr6N-m';
	src: url('../fonts/KozGoPr6N-Medium.otf');
}
@font-face {
	font-family: 'KozGoPr6N-b';
	src: url('../fonts/KozGoPr6N-Bold.otf');
}
@font-face {
	font-family: 'KozGoPr6N-h';
	src: url('../fonts/KozGoPr6N-Heavy.otf');
}




/* base ---------------------------------------------------------------------------- */
body {
	font-size: 14px;
	font-family: "KozGoPr6N-r", メイリオ, Meiryo, sans-serif;
	font-weight: normal;
	background: white;
	color: #666666;
	width: 100%;
}




/* layout ---------------------------------------------------------------------------- */
.l-header-site {
	background: #444444;
}
.l-container-content {
	margin: 0 auto;
	max-width: 1077px;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 14px;
	display: inline-block;
}
.l-grid .l-grid-col.l-grid-col-vtop {
	vertical-align: top;
}
.l-grid.l-grid-4col .l-grid-col{
	width: 25%;
}
.l-grid.l-grid-2col .l-grid-col{
	width: 50%;
}
.l-grid.l-grid-4col.l-grid-4col-guttered-right .l-grid-col {
	padding-right: 20px;
	width: 23.6%;
}
.l-grid.l-grid-4col.l-grid-4col-guttered-right .l-grid-col:last-child {
	padding-right: 0px;
}



/* module ---------------------------------------------------------------------------- */
.heading-msg {
	color: white;
	font-size: 28px;
	margin: 20px 0;
}

.banner-bgimg {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
}
.banner-bgimg.banner-bgimg-seceffective {
	margin-bottom: 0px;
}
.banner-bgimg.banner-bgimg-secdiet {
	margin-bottom: 0px;
}
.banner-bgimg.banner-bgimg-secmaterial {
	margin-bottom: 0px;
}
.banner-bgimg.banner-bgimg-seclocation {
	margin-bottom: 0px;
}
.banner-bgimg.banner-bgimg-seccontact {
	margin-bottom: 0px;
}
.banner-bgimg > img {
	width: 100%;
	display: block;
}
.banner-bgimg .banner-bgimg-ribbon {
	background: #e174b2;
	position: absolute;
	top: 0px;
	left: 62px;
	text-align: center;
	padding: 23px 0;
	width: 198px;
}
.banner-bgimg .banner-bgimg-ribbon:after {
	content: " ";
	position: absolute;
	bottom: -40px;
	left: 50%;
	-ms-transform: translate(-50%,0);
   	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
    transform: translate(-50%,0);
	width: 0; 
	height: 0; 
	border-left: 99px solid #e174b2;
	border-right: 99px solid #e174b2;
	border-bottom: 40px solid transparent;
}
.banner-bgimg .banner-bgimg-ribbon p{
	color: white;
	font-size: 35px;
	font-family: "KozGoPr6N-b";
	line-height: 42px;
	margin-bottom: 8px;
}
.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price {
	font-size: 30px;
}
.banner-bgimg .banner-bgimg-ribbon .banner-bgimg-ribbon-price .banner-bgimg-ribbon-price-digit {
	font-size: 100px;
	line-height: 100px;
	vertical-align: sub;
}
.banner-bgimg .banner-bgimg-shoutout {
	color: #00698c;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
   	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro h1 {
	font-size: 88px;
	font-family: "KozGoPr6N-m";
	margin-bottom: 80px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secintro p {
	font-size: 45px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-seceffective p {
	font-size: 50px;
	line-height: 60px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h1{
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 30px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-sectoeic h2{
	font-size: 40px;
	line-height: 60px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed h1{
	font-family: "KozGoPr6N-r";
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 30px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secfailsucceed p{
	font-family: "KozGoPr6N-m";
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 0px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet h1{
	font-family: "KozGoPr6N-m";
	font-size: 90px;
	line-height: 108px;
	margin-bottom: 30px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secdiet p{
	font-family: "KozGoPr6N-m";
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 0px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum h1{
	font-family: "KozGoPr6N-m";
	font-size: 70px;
	line-height: 84px;
	margin-bottom: 30px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-seccurriculum p{
	font-family: "KozGoPr6N-m";
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 0px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial h1{
	font-family: "KozGoPr6N-m";
	font-size: 70px;
	line-height: 84px;
	margin-bottom: 30px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-secmaterial p{
	font-family: "KozGoPr6N-m";
	font-size: 45px;
	line-height: 54px;
	margin-bottom: 0px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation h1{
	font-family: "KozGoPr6N-m";
	font-size: 70px;
	line-height: 84px;
	margin-bottom: 40px;
}
.banner-bgimg-shoutout.banner-bgimg-shoutout-seclocation p{
	font-family: "KozGoPr6N-m";
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 30px;
}
.section-intro p {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 40px;
	text-align: center;
}
.section-atraining h1 {
	font-size: 40px;
	font-family: "KozGoPr6N-r";
	color: white;
	margin-top: 36px;
	margin-bottom: 36px;
}
.card-list {
	margin-bottom: 27px;
}
.card-list.card-list-add {
	margin-top: 47px;
	margin-bottom: 47px;
}
.text-card.text-card-gray {
	font-size: 30px;
	font-family: "KozGoPr6N-m";
	color: #e077b0;
	background: #eeeeee;
	padding: 36px 0 36px;
	text-align: center;
}
.text-card.text-card-blue {
	font-size: 30px;
	font-family: "KozGoPr6N-m";
	color: white;
	background: #008abe;
	padding: 75px 0 75px;
	text-align: center;
}
.text-card.text-card-pink {
	font-size: 35px;
	font-family: "KozGoPr6N-r";
	color: white;
	background: #e077b1;
	padding: 50px 0 50px;
	text-align: center;
}
.text-card.text-card-pink.text-card-pink-seceffective p {
	font-size: 35px;
	font-family: "KozGoPr6N-r";
	margin: 0px;
}
.section-effective {
	margin-bottom: 53px;
}
.section-effective h1 {
	font-size: 40px;
	font-family: "KozGoPr6N-m";
	color: #e174b2;
	margin: 55px 0;
}
.section-effective h2 {
	font-size: 40px;
	font-family: "KozGoPr6N-r";
	color: #00698c;
	margin: 55px 0;
}
.section-effective p {
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 40px;
	text-align: center;
}
.service-get {}
.service-get .service-get-features {
	font-size: 0px;
	margin-bottom: 70px; /*10px*/
	display: table;
}
.service-get .service-get-features .service-get-features-item {
	/*
	font-size: 14px;
	display: inline-block;
	width: 100%;
	max-width: 460px;
	vertical-align: middle;
	*/
	display: table-cell;
	width: 460px;
	vertical-align: middle;
}
.service-get .service-get-features .service-get-features-item.service-get-features-item-add {
	/*
	width: 100%;
	max-width: 156px;
	*/
	width: 156px;
}
.service-get .service-get-details {
	background: #ecadd0;
	padding: 50px;
	position: relative;
}
.service-get .service-get-details:before {
	content: " ";
	position: absolute;
	top: -59px;
	right: 25%;
	-ms-transform: translate(75%,0);
   	-webkit-transform: translate(75%,0);
	-moz-transform: translate(75%,0);
	-o-transform: translate(75%,0);
    transform: translate(75%,0);
	width: 0; 
	height: 0; 
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-bottom: 60px solid #ecadd0;
}
.service-get .service-get-details p {
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 35px;
	text-align: center;
}
.service-get .service-get-details ul {
	text-align: left;
}
.service-get .service-get-details ul li {
	font-size: 32px;
	font-family: "KozGoPr6N-r";
	line-height: 38px;
}
.list-bullet-box li:before {
	content: "■";
	display: inline-block;
}
.list-agent-experience {
	width: 570px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 40px;
}
.list-agent-experience li{
	font-size: 28px;
	font-family: "KozGoPr6N-r";
	line-height: 33px;
}
.list-disatisfaction {
	margin-bottom: 40px;
}
.list-disatisfaction li{
	font-size: 28px;
	font-family: "KozGoPr6N-r";
	line-height: 33px;
}
.list-drawback {
	width: 324px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 40px;
}
.list-drawback li{
	font-size: 28px;
	font-family: "KozGoPr6N-r";
	line-height: 33px;
	list-style: disc;
}

.timetable {
	margin-bottom: 54px;
}
.timetable .timetable-list {
	text-align: left;
}
.timetable .timetable-list li {
	font-size: 28px;
	font-family: "KozGoPr6N-m";
	line-height: 33px;
}
.timetable .timetable-list .timetable-list-time {
	text-align: right;
	width: 75px;
	display: inline-block;
}
.timetable .timetable-list .timetable-list-total {
	font-size: 45px;
	font-family: "KozGoPr6N-m";
	line-height: 54px;
}
.section-toeic p {
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 40px;
	text-align: center;
}
.section-failsucceed p {
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 40px;
	text-align: center;
}
.section-curriculum h2 {
	font-size: 32px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin-top: 14px;
	margin-bottom: 40px;
}
.section-curriculum h3 {
	font-size: 38px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin-top: 50px;
	margin-bottom: 40px;
}
.section-curriculum dl {
	text-align: left;
	width: 760px;
	margin: 0 auto;
}
.section-curriculum dl dt{
	font-size: 22px;
	color: #00698c;
}
.section-curriculum dl dd{
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 30px;
}
/*
.section-experience h1 {
	font-size: 70px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin: 55px 0;
}
.section-experience h2 {
	font-size: 25px;
	font-family: "KozGoPr6N-b";
	text-align: left;
	line-height: normal;
}
.section-experience p {
	font-size: 19px;
	line-height: 36px;
	margin-bottom: 40px;
	text-align: center;
}
*/
.section-fee h1 {
	font-size: 55px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin-top: 34px;
	margin-bottom: 24px;
}
.section-fee p {
	font-size: 28px;
	font-family: "KozGoPr6N-m";
	line-height: 33px;
	color: #00698c;
	margin-bottom: 24px;
	text-align: left;
}
.feetable {
	padding: 30px 0;
}
.feetable .feetable-list {
	text-align: left;
}
.feetable .feetable-list li {
	font-size: 30px;
	font-family: "KozGoPr6N-m";
	line-height: 45px;
	color: #00698c;
}
.feetable .feetable-dllist {
	font-size: 24px;
	font-family: "KozGoPr6N-m";
	line-height: 28px;
	color: #00698c;
}
.feetable .feetable-dllist:after {
	content: "";
	display: block;
	clear: both;
}
.feetable .feetable-dllist dt {
	float: left;
}
.feetable .feetable-dllist dd {
	margin-left: 195px;
}
.feetable .feetable-dllist dd ul {
	text-align: left;
}
.feetable .feetable-dllist dd ul li {
	list-style: disc;
}
.section-contact h1 {
	font-size: 70px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin-bottom: 30px;
}
.section-contact .section-contact-btn-popup {
}


.contact-btn-popup {
	background: #e275b2;
	color: white;
	border: 0px;
	font-size: 50px;
	padding: 20px 40px;
	cursor: pointer;
	margin-bottom: 20px;
}


.popup {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(204, 204, 204, 0.5);
	position: fixed;
}
.popup .popup-inner {
	padding: 20px;
	height: auto;
}
.popup .popup-close {
	background: #f7f7f7;
	padding: 20px;
	text-align: right;
}
.popup .popup-close .popup-close-link {
	text-decoration: none;
	font-size: 20px;
	font-family: "KozGoPr6N-m";
	line-height: 30px;
	color: #00698c;
}



.form-contact {
	background: white;
	max-width: 700px;
	margin: 0 auto;
	height: 100%;
	overflow-y: scroll;
	
	position: relative;
}
.form-contact dl {
	margin: 20px 30px;
}
.form-contact dd:after {
	content: "";
	display: block;
	clear: both;
}
.form-contact dl dt {
	/*
	float: left;
	*/
}
.form-contact dl dt label{
	font-size: 20px;
	font-family: "KozGoPr6N-m";
	line-height: 30px;
	color: #00698c;
}
.form-contact dl dd {
	/*
	margin-left: 280px;
	*/
	margin-bottom: 28px;
}
.form-contact dl dd:last-child {
	margin-bottom: 0px;
}
.form-contact dl dd input[type=text], .form-contact dl dd textarea, .form-contact dl dd input[type=email] {
	background: #e5e5e5;
	border: 1px solid #00698c;
	font-size: 30px;
	font-family: "KozGoPr6N-m";
	line-height: 28px;
	color: #00698c;
	width: 100%;
}
.form-contact dl dd input[type=text], .form-contact dl dd input[type=email] {
	height: 50px;
	width: 80%;
}
.form-contact dl dd  input[type=text].ng-invalid.ng-touched, .form-contact dl dd  input[type=email].ng-invalid.ng-touched {
    background-color: #ffcccc;
	border: 1px solid red;
}
.form-contact dl dd textarea {
	height: 216px;
}
.form-contact dl dd .form-contact-submit-btn {
	background: #e275b2;
	border: 1px solid #e275b2;
	color: white;
	font-size: 30px;
	font-family: "KozGoPr6N-b";
	line-height: 36px;
	width: 50%;
	padding: 12px;
	margin-bottom: 28px;
	cursor: pointer;
}
.form-contact dl dd .form-contact-submit-btn[disabled=disabled] {
	background: #f3e5ed;
	cursor: not-allowed;
}
.form-contact .form-contact-error-msgs {}
.form-contact .form-contact-error-msgs > span {
	color: red;
}
.form-contact .form-contact-star-required {
	color: red;
}
.form-contact .form-contact-ajax-msg {
	margin: 20px 30px;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-sending {
	display: none;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-sent {
	display: none;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-error {
	display: none;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-sending p {
	font-size: 20px;
	font-family: "KozGoPr6N-m";
	line-height: 30px;
	color: #00698c;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-sent p {
	font-size: 20px;
	font-family: "KozGoPr6N-m";
	line-height: 30px;
	color: #00698c;
}
.form-contact .form-contact-ajax-msg .form-contact-ajax-msg-error p {
	font-size: 20px;
	font-family: "KozGoPr6N-m";
	line-height: 30px;
	color: #00698c;
}




.form-contact .frm_contact_input_radio {
	margin-bottom: 10px;
}
.form-contact input[type="radio"] {
    display:none;
}
.form-contact input[type="radio"] + label {
	font-size: 16px;
	font-family: "KozGoPr6N-m";
	line-height: 20px;
	color: #00698c;
}
.form-contact input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}
.form-contact input[type="radio"] + label span {
     background-color:#e5e5e5;
}
.form-contact input[type="radio"]:checked + label span{
     background-color:#00698c;
}






.google-form-contact {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	/*
	*/
}
.google-form-contact .google-form-contact-inner {
	height: 100%;
	padding: 15px;
}
.google-form-contact iframe {
	position: relative;

	left: 50%;
	-ms-transform: translate(-50%,0);
   	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
    transform: translate(-50%,0);
	display: block;
	max-width: 760px;
	width: 90%;
	height: 90%;
	/*
	margin: 0 auto;
	*/
	overflow: hidden;
}

.page-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 99999;
	display: none;
	cursor: pointer;
}

.banner-bgimg-v2.banner-bgimg-v2-secexperience {
	background: transparent url("../images/img-10.jpg") no-repeat scroll center top / 1200px auto;
}
.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience h1 {
	font-size: 70px;
	font-family: "KozGoPr6N-m";
	color: #00698c;
	margin: 55px 0;
}
.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience h2 {
	font-size: 25px;
	font-family: "KozGoPr6N-b";
	color: #00698c;
	text-align: left;
	line-height: normal;
}
.banner-bgimg-v2-shoutout.banner-bgimg-v2-shoutout-secexperience p {
	font-size: 19px;
	color: #00698c;
	line-height: 36px;
	margin-bottom: 40px;
	text-align: center;
}


/* state ---------------------------------------------------------------------------- */




/* helpers ---------------------------------------------------------------------------- */
.align-center {
	text-align: center;
}
.is-hidden {
	display: none;
}
.color-blue {
	color: #00698c;
}
.color-green {
	color: #468c00;
}
.bg-pink {
	background: #e077b0;
}
.bg-gray {
	background: #eeeeee;
}
.fs-88px {
	font-size: 88px;
}
.fs-45px {
	font-size: 45px;
}
.ico {
	display: inline-block;
	font-size: 14px;
	font-family: "KozGoPr6N-h";
	font-style: normal;
}
.ico.ico-plus {
	font-size: 80px;
	line-height: 0px;
}
.ico.ico-plus.ico-plus-white svg {
	fill: white;
}
.ico.ico-plus.ico-plus-pink svg {

	fill: #e93584;
}

